/*
Title: Screen styles
Author: Matthew Mesaros (mesaros.creative@gmail.com)
*/

/* =RESET
----------------------------------------------- */
* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    font-size: 100%;
    font-style: normal;
}

blockquote, q {
    quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img { max-width: 100%; }

/* =FLOAT CLEAR
----------------------------------------------- */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.group { display: inline-block; }

/* Hides from IE-mac \*/
* html .group { height: 1%; } /* IE6 */
*:first-child+html .group { min-height: 1px; } /* IE7 */
/* End hide from IE-mac */

/* =LINKS
----------------------------------------------- */
a:link, a:visited { text-decoration: none; }

/* =GLOBAL
----------------------------------------------- */
body {
    color: #333;
    font-family: "museo-slab";
    font-size: 100%;
    height: 100%;
    line-height: 1.45;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 70em;
}

section {
    display: block;
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100vw;
}

section article {
    background: rgba(255,255,255,0.9);
    padding: 3em;
    position: absolute;
    right: 6%;
    text-align: left;
    top: 6%;
    width: 40%;
}

section article a {
    color: rgba(239,108,68,0.6);
}

section article a:hover {
    color: rgba(239,108,68,1);
}

section p {
    font-family: "museo-slab";
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1em;
}
/*
h3 {
    font-family: 'quicksand-regular';
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
*/

/* =NAVIGATION
----------------------------------------------- */
header {
    background: #201F1F;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 1000;
}

#navMain ul {
    height: 40px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
 
#navMain ul li {
    float: left;
    height: 100%;
}

#navMain ul li a {
    color: #FFF;
    display: block;
    font-family: 'helvetica';
    font-size: 1em;
    font-weight: 700;
    line-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
}

#navMain ul li a:after {
    background: #FFF;
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 0%;
    -webkit-transition: all 0.5s;
}

#navMain ul li a:hover:after {
    color: #202020;
    width: 80%;
}

.active {
    background: #FFF;
    color: #202020 !important;
}

#branding {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    display: none;
    font-size: 10em;
    height: 100%;
    position: fixed;
    text-align: center;
    width: 4%;
    z-index: 10000;
    -webkit-transition: all linear 0.5s;
}

.prev {
    opacity: 0;
    left: 0;
}

.next { right: 0; }

.prev:hover img, .next:hover img { opacity: 1; }

.prev img, .next img {
    margin-top: calc(100%);
    opacity: 0.5;
    width: 70%;
}

.prev img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);    
}

/* =HOME SECTION
----------------------------------------------- */
#home {
    background: url(../assets/unaltered/4862548888_9419918d50_o.jpg);
    background-size: cover;
}

#home article {
    padding: 20px 20px 20px calc(180px + 8%);
}

/* =HOME SECTION
----------------------------------------------- */
#transportation {
    background: url(../assets/unaltered/horses.jpg);
    background-size: cover;
}
#transportation header {
    background: #FFF;
    color: #333;
    line-height: 0.8;
    padding: 1em;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 100px;
    width: auto;
}

#transportation h3 {
    font-family: "ff-good-headline-web-pro-con";
    font-size: 5em;
    font-weight: 900;
}

#transportation h4 {
    border-bottom: 10px solid;
    font-family: "ff-good-headline-web-pro-con";
    font-size: 5em;
    font-weight: 400;
    padding-bottom: 10px;
}

.modes {
    width: 50%;
}

.block {
    bottom: 10px;
    display: inline-block;
    float: right;
    background: #FFF;
    height: 500px;
    width: 300px;
}

.block img {
    width: 10%;
}

@media only screen
and (max-width: 600px) {

}


@media only screen
and (min-width: 200px)
and (max-width: 700px) {    

    
    
    



@media only screen
and (min-width: 1024px) {

    body { background-size: contain; }
    

    
}

#navMain ul li {
    display: none;
}

span {
    
}


